/*------------------------------------------------------------------
    [Base-components]
------------------------------------------------------------------*/
html {
  width: 100%;
}
.work-layer {
  max-width: 960px;
  margin: 0 auto;
}
section {
  padding-top: 120px;
}
